body{
			background: #3C4D58;
		}
		.row{
			background: #fff;
			padding: 20px;
		}
		.r{
			padding-top: 15px;
		}
    .container{
        margin-top: 15%;
        margin-bottom: 15%;
    }
		input{
			border: none;
			overflow: hidden;
		    border-color: Transparent; 
		    margin:auto;
		    padding: 5px;
		    font-family: monospace;
		}
		button{
			visibility: hidden;
			padding: 5px;
		}
		p{
			text-align: justify;
		}
		td{
			padding: 10px;
		}
		#name{
			margin-top: 10%;
			font-size: -webkit-xxx-large;
			width: -webkit-fill-available;

		}
		.heading1{
			font-size: large;
			font-weight: bold;

		}
		.heading2{
			font-size: large;
			font-weight: bold;
		}
		.col-sm-8{
			padding-left: 15%;
		}
		.col-sm-9{
			padding-left: 14%;
		}
		li{
			text-align: justify;
		}
		.glyphicon-envelope,.glyphicon-phone,.glyphicon-home{
			float: left;
			line-height: 2;

		}
        @media (min-width: 768px){
			.col-sm-9 {
			       width: 64%;
			}
		}
		#download{
			visibility: visible;
			text-align: center;
			margin-top: 5px;
		}
		.lskills{
			padding-left: 10px;
		}
		.rskills{
          padding-left: 14%;
		}
		#sk{
			margin: 3%;
		}
		.glyphicon-remove{
			visibility: hidden;
			color:black;
		}
		.badge-primary{
			background: #007bff;
		}
		.badge{
			color: white;
		}
		.m-5{
			margin: 5px;
		}
		/*input:focus {
          outline: 0px solid transparent;
         }*/

